# This file is a template, and might need editing before it works on your project.
# You can copy and paste this template into a new `.gitlab-ci.yml` file.
# You should not add this template to an existing `.gitlab-ci.yml` file by using the `include:` keyword.
#
# To contribute improvements to CI/CD templates, please follow the Development guide at:
# https://docs.gitlab.com/ee/development/cicd/templates.html
# This specific template is located at:
# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Bash.gitlab-ci.yml

# See https://docs.gitlab.com/ee/ci/yaml/ for all available options

# you can delete this line if you're not using Docker
# image: busybox:latest

variables:
  SONAR_SERVER_URL: http://node-01:7200
  SONAR_SCANNER_VERSION: 5.0.1.3006 # Find the latest version in the "Linux" link on this page:
                                    # https://docs.sonarqube.org/latest/analysis/scan/sonarscanner/
  BUILD_WRAPPER_OUT_DIR: build/Release # Directory where build-wrapper output will be placed
  SONAR_SCANNER_OPTS: "-server"
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
  SONAR_SCANNER_HOME: ${SONAR_USER_HOME}/sonar-scanner-$SONAR_SCANNER_VERSION-linux
  GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task
  # note that SONAR_TOKEN is transmitted to the environment through Gitlab CI

build:
  stage: build
  script:
    # prepare the build tree
    - mkdir -p ${BUILD_WRAPPER_OUT_DIR}
    - mkdir -p ${SONAR_USER_HOME}
    # - cp /nas1/Work/docker_images/sonarqube/sast/sonar-scanner-${SONAR_SCANNER_VERSION}-linux $HOME/.sonar/ -R
    # - cmake -S . -B build
    # run the build inside the build wrapper
    - /nas1/Work/docker_images/sonarqube/sast/build-wrapper-linux-x86/build-wrapper-linux-x86-64 --out-dir "${BUILD_WRAPPER_OUT_DIR}" Internal/AlgoMarker/full_build.sh
  artifacts:
    paths:
      - Linux/Release/libdyn_AlgoMarker.so
  cache:
    policy: pull-push
    key: "${CI_COMMIT_SHORT_SHA}"
    paths:
      - "${BUILD_WRAPPER_OUT_DIR}"

sonarqube-check:
  stage: .post
  cache:
    policy: pull
    key: "${CI_COMMIT_SHORT_SHA}"
    paths:
      - "${BUILD_WRAPPER_OUT_DIR}"
  script:
    - /nas1/Work/docker_images/sonarqube/sast/sonar-scanner-${SONAR_SCANNER_VERSION}-linux/bin/sonar-scanner --define sonar.host.url="${SONAR_SERVER_URL}" --define sonar.cfamily.build-wrapper-output="${BUILD_WRAPPER_OUT_DIR}"
    # if you are using using sonarqube 10.5 or earlier, replace sonar.cfamily.compile-commands with sonar.cfamily.build-wrapper-output="${BUILD_WRAPPER_OUT_DIR}"
    # as build-wrapper does not generate a compile_commands.json file before sonarqube 10.6
  only:
    - merge_requests
    - master

build_doxygen:
  stage: build
  script:
    - echo "Do your build here"
    - /nas1/UsersData/git/MR/Libs/document_code_server.sh

test1:
  stage: test
  script:
    - echo "Do a test here"
    - echo "For example run a test suite"

deploy1:
  stage: deploy
  script:
    - echo "Do your deploy here"
  environment: production
