name: Generate and Deploy Doxygen Docs

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Doxygen
      run: apt install doxygen
      
    - name: Create Doxygen
      run: ( cat Doxyfile ; echo "OUTPUT_DIRECTORY=./docs" ) | doxygen - 2>&1 | egrep -v "External|QGDict|Please use a more specific name by including|Eigen::|VowpalWabbit|dmlc::|xgboost::|rabit::"
