name: Generate and Deploy Doxygen Docs

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: Prepare folder
      run: mkdir -p ./docs

    - name: Set up Doxygen
      run: sudo apt-get install doxygen -y
      
    - name: Create Doxygen
      run: ( cat Doxyfile ; echo "OUTPUT_DIRECTORY=./docs" ) | doxygen - 2>&1 | egrep -v "External|QGDict|Please use a more specific name by including|Eigen::|VowpalWabbit|dmlc::|xgboost::|rabit::"

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs/html
        publish_branch: doc-pages
